.area {
  display: flex;
  justify-content: center;
  width: 90%;
}

.graph-start{
    width: 90%;
    height: 90%;
}

.commit-block{
    width: 100px;
    height: 20px;
    background: #673ab7;
    text-align: center;
    text-overflow:clip ;        
    border-radius: 5px;
    color: #fff;    
    margin-top: -9px;
}
