<div class="area">
  <div class="graph-start">

    </div>
    <div class="func-panel">
        <button  (click)="commitRender()" mat-raised-button  color="primary">New Commit</button>

    </div>
</div>
<svg width="0" height="0">
    <defs>
      <marker
        id="arrow"
        markerUnits="strokeWidth"
        markerWidth="8"
        markerHeight="8"
        viewBox="0 0 12 12"
        refX="6"
        refY="6"
        orient="auto">
        <path d="M2,2 L10,6 L2,10 L6,6 L2,2" style="fill: #673ab7;"></path>
      </marker>
    </defs>
  </svg>
