<div class="form-wrap">
    <div class="form">
        <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Commit name</mat-label>
              <input matInput placeholder="" value="">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Describe changes</mat-label>
              <input matInput placeholder="" value="">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Autor Name</mat-label>
              <input matInput placeholder="Viktor Aboba" value="">
            </mat-form-field>
            <button mat-raised-button color="primary">Add Commit</button>
        </form>
    </div>
</div>
